*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0 15px;
}
@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}

/* BUTTON */
.button {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #ec5863;
  transition: background-color;
}
@media (max-width: 767.98px) {
  .button {
    padding: 14px 20px;
  }
}
.button:hover {
  background-color: #8a0d15;
}
.button__blue {
  background-color: #4285f4;
}
.button__blue:hover {
  background-color: #083886;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 30;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
}
.header__button {
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: flex-end;
  flex: 0 0 252px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__button {
    flex: 0 0 170px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 480px) {
  .header__logo {
    flex: 0 0 40px;
    overflow: hidden;
  }
}
.header__menu {
  flex: 1 1 auto;
}

/* MENU */
.menu {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 90px 15px 30px 15px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
}
.menu__list {
  display: flex;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu__item {
  margin: 0px 40px 0px 0px;
}
@media (max-width: 991.98px) {
  .menu__item {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 15px 0px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}
.menu__link {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 20px;
  }
}

/* MOBILE MENU */
@media (max-width: 767.98px) {
  .header:target .icon__menu {
    left: -100;
  }
  .header:target .menu__body {
    left: 0;
  }
  .icon__menu {
    position: relative;
    height: 18px;
    flex: 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  .icon__menu span {
    height: 2px;
    background-color: #000;
  }
  .icon__menu::before,
  .icon__menu::after {
    content: "";
    height: 2px;
    background-color: #000;
  }
  .close__menu {
    display: none;
    position: relative;
    flex: 0 0 30px;
    height: 30px;
    margin-left: 20px;
  }
  .close__menu::before,
  .close__menu::after {
    content: "";
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #000;
  }
  .close__menu::before {
    transform: rotate(45deg);
  }
  .close__menu::after {
    transform: rotate(-45deg);
  }
}
.header:target .icon__menu {
  display: none;
}

.header:target .close__menu {
  display: flex;
}

/* MAIN */
.main {
  flex: 1 1 auto;
}

.get-started {
  background-color: #fafbfb;
}
.get-started__container {
  padding: 100px 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.get-started__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 267px;
  border-radius: 30px 0px 0px 30px;
  transform: translate(100%, 0);
  width: 100vw;
  height: 100%;
  background-color: #ec5863;
}
@media (max-width: 991.98px) {
  .get-started__container::before {
    right: 185px;
    border-radius: 20px 0px 0px 20px;
  }
}
@media (max-width: 768.98px) {
  .get-started__container::before {
    display: none;
  }
}
.get-started__content {
  flex: 0 1 48%;
  padding: 0px 20px;
}
@media (max-width: 768.98px) {
  .get-started__content {
    flex: 1 1 100%;
    padding: 0;
  }
}
.get-started__image {
  flex: 0 1 52%;
  position: relative;
  z-index: 2;
}
.get-started__image img {
  max-width: 100%;
}
@media (max-width: 768.98px) {
  .get-started__image {
    flex: 1 1 100%;
    text-align: center;
    padding: 30px 0;
  }
}
.get-started__video {
  flex: 1 1 100%;
  padding: 60px 0px 0px 20px;
}
@media (max-width: 768.98px) {
  .get-started__video {
    padding: 0;
  }
}
.get-started__block-text {
  max-width: 410px;
}
@media (max-width: 768.98px) {
  .get-started__block-text {
    max-width: none;
  }
}

.video-get-started {
  display: inline-flex;
  align-items: center;
}
.video-get-started__icon {
  flex: 0 0 44px;
}
.video-get-started__body {
  padding: 0px 0px 0px 12px;
}
.video-get-started__title {
  color: #b0b0b0;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.video-get-started__text {
  text-transform: uppercase;
  font-size: 9px;
  color: #000;
  line-height: 126%;
  letter-spacing: 2px;
}

.block-text__title {
  font-size: 44px;
  line-height: 126%;
  font-weight: 700;
  color: #000;
}
.block-text__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.block-text__title span {
  color: #ec5863;
}
.block-text__title_blue span {
  color: #587eec;
}
.block-text__text {
  line-height: 138.5%;
}
.block-text__text:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

/*# sourceMappingURL=style.css.map */
